body{color:#808080;background-color: #000000; font-family:"Helvetica"
}
#myName{color:#ffffff;text-transform: uppercase;
}
img{height:100%;width:100%;float:left;
}
h1{font-size: 150%;color:#ffffff;opacity; font-style:italic;
}
.container{font-size: 400%;width:auto; text-align: center;margin:auto;position:relative;
}
a{color:#ffffff;
}
a:hover{color:#ffffff;text-decoration:none;
}
p{width:auto;color:white;
}
#indexbox{margin:auto;text-transform:uppercase;background-color: #818181;height:7%;width:25%;opacity: 0.8;border-radius: 10px;
}
#indexbox:hover{opacity:1;
}
#thevalves{font-family:"Debby";font-size: 180%;color:#ff751a
}
#navimg:hover{opacity:0.8;
}
#indexenter{position:absolute;top:200px   
}
